<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
<script src="~/js/htmx.min.js" asp-append-version="true"></script>
<script src="~/js/utils.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</html>