@page
@model EndearingApp.Web.Pages.Home.IndexModel
@using EndearingApp.Web.Pages.Home
@{
    ViewData["Title"] = "Home";
    
}
<div style="border: 1px solid black">
<h2>Custom Entities</h2>
<ul>
    @if (Model.CustomeEntities != null)
    {
        @foreach (var item in Model.CustomeEntities)
        {
                string customeEntityId = item.Id.ToString("D"); 
                <li>
                    @item.Name
                    <ul>
                        @foreach(var field in item.Fields) 
                        {
                            <li>@field.Name</li>
                        }
                    </ul>
                    <button hx-get="/home?handler=AsyncUpdateForm&id=@item.Id", hx-target="#edit-form">Update</button>
                    <button hx-delete="/CustomEntity/@item.Name" hx-confirm="Are you sure you wish to delete your account?">Delete</button>
                </li>
        }
    }
</ul>
</div>
<button hx-get="/home?handler=AsyncCreateForm"
        hx-target="#edit-form">
        Create New Table
</button>
<div id="edit-form">
</div>







