@using EndearingApp.Web.Exstensions;
@using EndearingApp.Core.CustomEntityAggregate;
@using EndearingApp.Web.Models
@model (List<CustomeEntityDTO> allEntities,  CustomeEntityDTO editedEntity)
@{
}
<form style="border:1px solid black; display:flex; margin:10px; flex-direction:column; width:300px"
      hx-put="/CustomEntity"
      id="customEntityForm" enctype="multipart/form-data">
    <input type="hidden" name="Id" value="@Model.editedEntity.Id">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="@Model.editedEntity.Name" required>

    <h3>Fields</h3>
    <div id="fieldsContainer">
        <!-- Preloaded fields will be added here via JavaScript -->
    </div>
    <button id="addFieldButton" type="button" >Add Field</button>

    <h3>Relationships</h3>
    <div id="relationshipsContainer">
        <!-- Preloaded relationships will be added here via JavaScript -->
    </div>
    <button type="button" onclick="addRelationship()">Add Relationship</button>

    <input type="submit" value="Submit">
</form>
<template id="updateRelationshipTemplate">
     <div style="border-top:1px solid black; margin-top: 5px">
        <input type="hidden" name="id">
        <select type="text" placeholder="Source Field Name" name="sourceFieldId" required>

        </select>
        
        <select name="referencedCustomEntityId" required>
            <option value="">Select Table</option>
        </select>
        <select type="hidden" name="referencedFieldId"> 
            <option value="">Select Table</option>
        </select>
        <input type="text" placeholder="Referenced Field Name" disabled name="ReferencedFieldNameTemp" required>
        <input type="text" placeholder="Constraint Name" name="constraintName" required>
    </div>
</template>
<template id="updateFieldTemplate">
    <div style="border-top:1px solid black; margin-top: 5px">
        <input type="hidden" name="id">
        <input type="text" placeholder="Name" name="name" required>
        <input type="text" placeholder="Type" name="type" required>
        <input type="number" placeholder="Size (Optional)" name="size" >
        <input type="checkbox" id="isPrimaryKey" name="isPrimaryKey">
        <label for="isPrimaryKey">Is Primary Key</label>
    </div>
</template>
<script>
    
    util.globalScope.setIfNotPopulated("allEntities", @Html.Raw(Json.Serialize(Model.allEntities)));
    util.globalScope.setItem("editedEntity", @Html.Raw(Json.Serialize(Model.editedEntity)));
</script>
<script src="~/js/PartialViews/DataEdit/CustomEntity/_Update.js" asp-append-version="true"></script>